<!--
    Este html es el contenido del tab de recetas, donde
    se le muestran al usuario las recetas que estan en
    la base de datos.
    
    Las funciones que tienen estos tabs estan en controller.js
-->
<ion-view view-title="Recetas">
  <ion-content class="padding">
  <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    <!-- funcion de ionic para hacer refresh -->
    </ion-refresher>
  	<ion-list ng-repeat="x in servicio">
    <ion-item>
        <div class="item item-text-wrap">
        <!-- Retornamos las recetas -->
        <h1>{{ x.nombre_receta }}</h1>   
        </div>       
          <div class="item item-text-wrap">
          <!-- con su nombre y su preparacion -->
          <h3>Preparacion: {{x.recetatexto}}</h3> 
        </div>
    </ion-item>
  	</ion-list>
  </ion-content>
</ion-view>
